:root {
  --copyright-color: white;
}

:root.light {
  --copyright-color: black;
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

canvas {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

div.copyright {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--copyright-color);
  font-size: 12px;
  z-index: 999;
  width: 90%;
  text-align: center;
}

div.copyright a {
  color: var(--copyright-color);
}

.icon {
  background: currentColor;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;

  &.play {
    mask-image: url('images/play.svg');
  }

  &.shuffle {
    mask-image: url('images/shuffle.svg');
  }

  &.record {
    mask-image: url('images/record.svg');
  }

  &.map {
    mask-image: url('images/map.svg');
  }

  &.trophy {
    mask-image: url('images/trophy.svg');
  }

  &.bomb {
    mask-image: url('images/bomb.svg');
  }

  &.sun {
    mask-image: url('images/sun.svg');
  }

  &.moon {
    mask-image: url('images/moon.svg');
  }
}

#settings {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  background: #666;
  border-radius: 10px;
  padding: 10px;
  z-index: 999;
  min-width: 50%;

  display: flex;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 1s linear;

  &.hide {
    opacity: 0;
    visibility: hidden;
  }

  h3 {
    padding: 0;
    margin: 0;
    font-size: 12pt;
    color: #fefefe;
  }

  textarea {
    width: 100%;
    min-height: 5rem;
    border: none;
    background: #999;
    font-size: 14pt;
  }

  button, .btn {
    color: #fefefe;
    background: #222;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    position: relative;
    display: inline-block;

    &:active:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
    }
  }

  div.theme {
    flex-grow: 1;
    display: flex;
    align-items: center;
    color: white;
    justify-content: flex-end;
  }

  div.left {
    flex-grow: 1;
    flex-shrink: 1;
    order: 1;

    .actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 5px;
    }
  }

  .btn-toggle-settings {
    display: none;
  }

  div.right {
    order: 2;
    flex-grow: 0;
    flex-shrink: 0;

    div.row {
      display: flex;
      align-items: center;
      height: 35px;

      label {
        width: 150px;
        flex-grow: 0;
        flex-shrink: 0;
        padding-left: 1rem;
        color: white;
      }

      .toggle-item {
        width: 50%;
        display: flex;
        align-items: center;
      }
    }
  }

  select {
    height: 25px;
    width: 100%;
    border-radius: 5px;
    background: #999;
  }

  input[type=checkbox] {
    width: 50px;
    display: inline-block;
    padding-right: 63px;
    height: 25px;
    position: relative;
    vertical-align: middle;

    &:before {
      position: absolute;
      content: '';
      display: inline-block;
      width: 50px;
      height: 25px;
      border-radius: 13px;
      background: #333;
    }

    &:after {
      position: absolute;
      content: '';
      display: inline-block;
      width: 21px;
      height: 21px;
      top: 2px;
      left: 2px;
      border-radius: 11px;
      background: #666;
      transition: left .2s;
    }

    &:checked {
      &:before {
        background: #222;
      }

      &:after {
        left: 27px;
        background: #eee;
      }
    }
  }

  .btn-group {
    height: 25px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    border-radius: 5px;
    background: #999;
    padding: 2px;

    input[type=number] {
      width: 30px;
      display: none;
      border: none;
      border-radius: 3px;
      background: #ccc;
      height: 21px;
      padding: 0;
      margin: 0;
      text-align: center;
      font-size: 11px;

      &.active {
        display: block;
      }
    }

    .btn-winner {
      background: none;
      color: #333;
      padding: 2px 5px;
      border-radius: 3px;
      font-size: 11px;
      border: none;
      height: 21px;
      margin-right: 2px;

      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }

      &.active {
        background: #222;
        color: #fefefe;
      }
    }
  }
}

div.toast {
  position: fixed;
  transform: translate(-50%, 0);
  padding: 8px;
  border-radius: 4px;
  background: #ccc;
  overflow: hidden;
  bottom: 10px;
  left: 50%;
  z-index: 1000;
  animation: .2s linear fade-in, .2s linear 1s reverse fade-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 600px) {
  #settings {
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    border-radius: 0;
    flex-direction: column;
    padding: 5px;

    div.left {
      order: 2;
    }

    div.right {
      order: 1;
    }

    .btn-toggle-settings {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 5px;
    }

    .collapsible-rows {
      overflow: hidden;
      max-height: 200px;
      transition: max-height 0.3s ease-out;

      &.collapsed {
        max-height: 0;
      }
    }

    div.row {
      margin-bottom: 3px;

      label {
        font-size: 12px;
      }
    }

    textarea {
      font-size: 12px;
      min-height: 3rem;
    }

    button, .btn {
      font-size: 12px;
      padding: 3px 6px;

      .icon {
        width: 15px;
        height: 15px;
      }
    }
  }
}